{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'manualapp/style.css' %}" />
{% endblock %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="form-signin w-100 m-auto">
      <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">ユーザー新規登録</h1>

        <div class="form-floating">
          <input
            type="text"
            name="{{ form.username.name }}"
            class="form-control"
            id="floatingUsername"
            placeholder="Username"
            value="{{ form.username.value|default_if_none:'' }}"
            required
            autofocus
          />
          <label for="floatingUsername">ユーザー名</label>
        </div>
        {% if form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ form.username.errors }}</div>
        {% endif %}

        <div class="form-floating">
          <input
            type="email"
            name="{{ form.email.name }}"
            class="form-control"
            id="floatingEmail"
            placeholder="name@example.com"
            value="{{ form.email.value|default_if_none:'' }}"
            required
          />
          <label for="floatingEmail">メールアドレス</label>
        </div>
        {% if form.email.errors %}
        <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
        {% endif %}

        <div class="form-floating">
          <select
            name="{{ form.department.name }}"
            class="form-control"
            id="floatingDepartment"
            required
          >
            {% for department in form.department.field.queryset %}
            <option value="{{ department.pk }}">{{ department.name }}</option>
            {% endfor %}
          </select>
          <label for="floatingDepartment">部署</label>
        </div>
        {% if form.department.errors %}
        <div class="alert alert-danger" role="alert">{{ form.department.errors }}</div>
        {% endif %}

        <div class="form-floating">
          <input
            type="password"
            name="{{ form.password1.name }}"
            class="form-control"
            id="floatingPassword1"
            placeholder="Password"
            required
          />
          <label for="floatingPassword1">パスワード</label>
        </div>
        {% if form.password1.errors %}
        <div class="alert alert-danger" role="alert">{{ form.password1.errors }}</div>
        {% endif %}

        <div class="form-floating">
          <input
            type="password"
            name="{{ form.password2.name }}"
            class="form-control"
            id="floatingPassword2"
            placeholder="Password"
            required
          />
          <label for="floatingPassword2">パスワード（確認）</label>
        </div>
        {% if form.password2.errors %}
        <div class="alert alert-danger" role="alert">{{ form.password2.errors }}</div>
        {% endif %}

        <button class="btn btn-primary w-100 py-2 my-4" type="submit">新規登録</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
