{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
      $(function() {
          // Save the initial options on page load
          var initialNextStepsOptions = $("#id_next_steps").html();
          var initialDocumentsOptions = $("#id_documents").html();

          $('#id_task').change(function() {
              if ($(this).val()) {
                  $.getJSON("/manualapp/get_steps_and_documents/", {task_id: $(this).val()}, function(j) {
                      var options = '';
                      for (var i = 0; i < j.steps.length; i++) {
                          options += '<option value="' + j.steps[i].id + '">' + j.steps[i].order + " - " + j.steps[i].name + '</option>';
                      }
                      $("#id_next_steps").html(options);
                      options = '';
                      for (var i = 0; i < j.documents.length; i++) {
                          options += '<option value="' + j.documents[i].id + '">' + j.documents[i].document_number + " " + j.documents[i].document_title + '</option>';
                      }
                      $("#id_documents").html(options);
                  });
              } else {
                  // If "task" is unselected, reset "next_steps" and "documents" to their initial state
                  $("#id_next_steps").html(initialNextStepsOptions);
                  $("#id_documents").html(initialDocumentsOptions);
              }
          });
          // Trigger the change event on page load if "task" has a value
          if ($('#id_task').val()) {
              $('#id_task').change();
          }         
      });
    </script>
{% endblock %}