{% extends 'base.html' %}

{% block extra_css %}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
  <i class="far fa-bookmark mr-1"></i>ブックマーク一覧
</li>
{% endblock %}

{% block content_title %}ブックマーク一覧{% endblock %}
{% block content %}

<div class="row ">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive p-3">
        <table id="bookmark-table" class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ブックマーク日時</th>
              <th>ドキュメント番号</th>
              <th>ドキュメントタイトル</th>
            </tr>
          </thead>
          <tbody>
            {% for bookmark in object_list %}
            <tr data-href="{% url 'document_detail' bookmark.document.pk %}">
              <td>{{ bookmark.created_at }}</td>
              <td>{{ bookmark.document.document_number }}</td>
              <td>{{ bookmark.document.document_title }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% block extra_script %}
<script>

var tableOptions = {
  "info": true,
  "paging": true,
  "searching": true,
  "ordering": true,
  "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
  }
}

$(document).ready(function() {
  $("#bookmark-table").DataTable(tableOptions);

  $('tr[data-href]').on('click', function() {
      location.href = $(this).data('href');
  });
});
</script>
{% endblock %}
{% endblock %}
